* {
  margin: 0;
  padding: 0;
}

.main_content {
  padding-left: 40%;
  padding-top: 10%;
  justify-content: center;
  height: 200px;
}

#input_num {
  display: block;
  text-align: center;
}

button {
  display: block;
  text-align: center;
  padding: 20px 135px;
  border-radius: 6px;
}

input {
  padding: 20px 70px;
  border-radius: 6px;
}

#result {
  /* text-align: center; */
  padding-right: 60px;
  padding-left: 120px;
}
